# VIM
*.sw*

# JAVA
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Minecraft
bin/
config/
crash-reports/
logs/
mods/
resourcepacks/
saves/
world/

banned-ips.json
banned-players.json
eula.txt
ops.json
options.txt
server.properties
usercache.json
usernamecache.json
whitelist.json
